<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>石家庄铁道大学</strong>
                        <span>2020 - 今 | 软件工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>认真学习计算机专业基础知识，担任信2005-3班组宣委员，获得个人单项奖学金等。
                        </p>
                        <p>参与蓝桥杯、中国软件杯等比赛。
                        </p>
                        <p>参加信息科学与技术学院学生会，积极参与志愿者活动，担任学生会部长。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
